
<div class="grid_12">
      <ol class="breadcrumb">
          <li> <%=link_to 'Inicio', controller: 'statics'%></li>
       <li> <%=link_to 'Compras', compras_url %></li>
      </ol>
</div>


   
<div id="menu" class="grid_12">
  <h2><i class="fa fa-cogs fa-5"> En construcción</i><br><br></h2>
   <%= link_to '<button type="button" class="btn btn-primary"> Volver al menú inicial </button>'.html_safe, compras_url %><br><br>
</div>
</body>


<style>

#menu {

text-align:center;

}

</style>

