<h1>Editar Herramienta</h1>
<div id = "table2">
</div>
<div id="invetario"> Inventario </div>
<br>

<%= render 'form' %>

<i class="fa fa-plus-circle"></i><%= link_to 'Mostrar', @tool %> |
<i class="fa fa-arrow-left"></i><%= link_to 'Atrás', tools_path %>
