<h1>Nueva Sustancia Química</h1>
<div id = "table2">
</div>
<div id="invetario"> Inventario </div>
<br>

<%= render 'form' %>

<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', chemical_substances_path %>
<br><br><br><br>