<h1>Editar Solicitud de Servicio</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li class="active"> Solicitud de Servicio </li>
</ol>

<div id = "table2">
</div>
<br>

<%= render 'form' %>

<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', inventario_url %>
<br><br><br><br>