<div class="col-xs-12">
  <h1>Solicitudes de Servicio</h1>
</div><br>
<div class="col-xs-12">
  <%= render 'applicationsTable' %>
  <i class="fa fa-arrow-left"></i><%= link_to ' Atrás ', inventario_url %>
</div>

  <br>