<% if @subsystem == 'inventario' %>
	<div class="container">
		<div class="jumbotron">
			<h1>Inventario</h1>
			<p>Subsistema de Gesti贸n de Inventarios</p>
		</div>
	</div>
<% elsif @subsystem == 'compras' %>
	<div class="container">
		<div class="jumbotron">
			<h1>Compras</h1>
			<p>Subsistema de Gesti贸n Compras</p>
		</div>
	</div>
<% elsif @subsystem == 'administracion' %>
	<div class="container">
		<div class="jumbotron">
			<h1>Administracion</h1>
			<p>Subsistema de Gesti贸n Administrativa</p>
		</div>
	</div>
<% else %>
	<div class="container">
		<div class="jumbotron">
			<h1>SIGULAB</h1>
			<p>Sistema Integrado de Gesti贸n de la Unidad de Laboratorio de la USB</p>
		</div>
	</div>
<% end %>
