<h3>BIENVENIDO AL SUBSISTEMA DE ADMINISTRACION</h3>

<ul>
	<li><%= link_to 'Presupuesto Ordinario', controller:'transactions', action: 'index' %></li>
	<li><%= link_to 'Proyectos', '#' %></li>
	<li><%= link_to 'Otros Ingresos', '#' %></li>
</ul>