<h1>Nueva Solicitud de Préstamo</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li class="active"> Nueva Solicitud </li>
</ol>

<div id = "table2">
</div>
<br>

<%= render 'form' %>

<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', loans_path %>
<br><br><br><br>

