// Place all the styles related to the chemical_substances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#table2 {
    border: 1px solid black;
    opacity: 0.2;
    border-width:thin;

}

#invetario{
  	position 				: relative;
    left 					: 500px;
    font-size               : 17px;
    font-style 				: oblique;
    opacity					:0.5;
    font-family 			: "Times New Roman", Georgia, Serif;
    }

#LeDivQuimicas {
    background-image        :   url('/assets/Chemical3.png');
    background-size         : 540px;  
    background-repeat       : no-repeat; 
    background-position		: bottom left; 
    background-color        : #FFFFFF;
}