// Place all the styles related to the chemical_substances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    font-family             : Verdana, Arial, Helvetica, sans-serif;
}


#table2 {
    border: 1px solid black;
    opacity: 0.2;
    border-width:thin;

}

