// Place all the styles related to the consumables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#LeDivConsumibles {
    background-image        : url('/assets/consumables2.png');
    background-size         : 250px;  
    background-repeat       : no-repeat; 
    background-position     : bottom right; 
    background-color        : #FFFFFF;
}

.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}