// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table2 {
    border: 1px solid black;
    opacity: 0.2;
    border-width:thin;
}

#invetario{
  	position 				: relative;
    left 					: 500px;
    font-size               : 17px;
    font-style 				: oblique;
    opacity					:0.5;
    font-family 			: "Times New Roman", Georgia, Serif;
    }

#LeDivInstrumentos {
    background-image        :   url('/assets/Sustancias.png');
    background-size         : 650px;  
    background-repeat       : no-repeat; 
    background-position     : bottom center; 
    background-color        : #FFFFFF;
}
.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}