<h3>Monto Asignado</h3>

<style>

	table {
		margin: 0 auto;
		margin-top: 0;
	}
	
	#placetable td, #placetable th {
		border: 1px solid black;
		background-color: #245269;
		color: #FFFFFF;
		text-align: center;
	}
	#placetable th {
		font-size: 15px;
	}
</style>

<table id="placetable" style="margin-top: 100px; border: 1px solid black;">
	<tr>
		<th>Descripcion</th>
		<th>Monto</th>
	</tr>
	<% @transactions.each do |t| %>
		<tr>
			<td><%= t.description %></td>
			<td><%= t.income %></td>
		</tr>
	<% end %>
</table>
<br />
<%= link_to 'Regresar al resumen de presupuesto', controller: 'transactions', action: 'index' %>
