<h3>BIENVENIDO AL SUBSISTEMA DE ADMINISTRACION</h3>

<ul>
	<li><a class="h4" href="http://localhost:3000/transactions/summary?type=1">Resumen de Presupuesto</a></li>
	<li><a class="h4" href="http://localhost:3000/transactions/summary?type=2">Monto Asignado</a></li>
	<li><a class="h4" href="http://localhost:3000/transactions/summary?type=3">Lista de Gastos</a></li>
</ul>
