<h1>Editar Instrumento</h1>
<div id = "table2">
</div>
<div id="invetario"> Inventario </div>
<br>
<%= render 'form' %>

<i class="fa fa-plus-circle"></i><%= link_to 'Mostrar', @instrument %> |
<i class="fa fa-arrow-left"></i><%= link_to 'Atrás', instruments_path %>
