<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
<table id="actTable" class="table table-hover" >
	  <thead>
		 <tr>
		   <th align="left">Proveedor</th>
		   <th align="left">Bien y/o Servicio</th>
		   <th align="left">Justificación</th>
		   <th align="left">Responsable</th>
		 </tr>
	  </thead>

	  <tbody>
		 <% @acts.each do |act| %>
	  		<tr>
		     <td style="text-decoration:underline; color:black"><%= link_to act.proveedor, act %></td>
		     <td><%= act.bienServicio %></td>
		     <td><%= act.justificacion %></td>
		     <td><%= act.responsable %></td>
		   </tr>
		 <% end %>
		 <% if @sumActs == 0 %>
		 	<tr class="warning">
				<td class="text-center" colspan="5"><h4>No hay Actos Motivados registrados</h4></td>
			</tr>
		 <% end %>
	  </tbody>
	</table>
</body>

<style>

a:visited { 
   color:black;
   font-weight: bold;
	font-size: 110%;
}


#actTable th {
      background-color: #94E79E;
      border-color:#7A7070;
      font-size: 14px;
  }

#actTable th td tr{
 border-color:black;
 }


.table-hover {

border-color:#7A7070;

}

.table-hover>tbody>tr>td {

border-color:#7A7070;

}

.table-hover>tbody>tr:hover {
background-color: #ffff99;
}

#actTable tr:nth-child(even) {

background-color: #F2F8F7;

}

input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
background-color:#F8F0BE;
border-radius:px;
}

</style>
