<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
<table id="actTable" class="table table-bordered" >
	  <thead>
		 <tr>
		   <th align="left">Proveedor</th>
		   <th align="left">Bien y/o Servicio</th>
		   <th align="left">Justificación</th>
		   <th align="left">Responsable</th>
		 </tr>
	  </thead>

	  <tbody>
		 <% @acts.each do |act| %>
	  		<tr>
		     <td style="text-decoration:underline; color:black"><%= link_to act.proveedor, act %></td>
		     <td><%= act.bienServicio %></td>
		     <td><%= act.justificacion %></td>
		     <td><%= act.responsable %></td>
		   </tr>

		 <% end %>
	  </tbody>
	</table>
</body>

<style>



#actTable th {
      background-color: #94E79E;
      border-color:#7A7070;
     font-size: 14px;
  }

#actTable th, td, tr{
 border-color:black;
 }



 .table-bordered {

border-color:#7A7070;

}

.table-bordered>tbody>tr>td {

border-color:#7A7070;

}

#actTable tr:nth-child(even) {

background-color: #F2F8F7;

}

input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
background-color:#F8F0BE;
border-radius:px;
}

</style>
